body{
  font-family: sans-serif;
    font-weight: bold;
  margin:0 auto;
}
nav {
  background-color: #fff; /* change to white */
  color: #333; /* change to dark font color */
  font-family: Arial, sans-serif; /* add sans-serif font family */
  font-size: 24px;
  font-weight: bold;
  height: 60px;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.navbar-logo a {
  color: #333; /* change to dark font color */
  font-family: Arial, sans-serif; /* add sans-serif font family */
  text-decoration: none;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 30px;
}

.navbar-links li a {
  color: #333;
  font-family: Arial, sans-serif;
  text-decoration: none;
  position: relative; /* add position property */
}


.navbar-links a {
  text-decoration: none;
  position: relative;
}

.navbar-links a:after {
  content: '';
  display: block;
  height: 4px;
  width: 0;
  background: #000;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: width 0.7s ease;
}

.navbar-links a:hover:after {
  width: 100%;
}
.menu-icon {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.menu-icon span {
  display: block;
  height: 2px;
  width: 25px;
  margin-bottom: 5px;
  position: relative;
  background: #333;
}

.menu-icon span:nth-child(2) {
  width: 20px;
}

.menu-icon span:last-child {
  margin-bottom: 0;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: auto;
  background: #fff;
  transition: left 0.3s ease-in-out;
  box-shadow: 15px 0px 15px -10px rgba(0,0,0,0.75);
}

.side-menu.show {
  right: 0;
}



.side-menu ul {
  margin-top: 50px;
  padding: 20px;
  list-style: none;
  opacity: 0;
  height:auto;
  transform: translateX(50%);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  
}

.side-menu.show ul {
  opacity: 1;
  transform: translateX(0);
}


.side-menu li {
  position: relative;
  margin: 20px;
  text-align: center;
  transition: transform 0.5s ease;
  transform: translateX(50%);
}

.side-menu li::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 4px;
  background-color: #5a5a5a;
  transition: width 0.5s ease-in-out;
}

.side-menu li:hover::after {
  width: 100%;
}
.side-menu li a {
  display: block;
  padding: 10px;
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.7s ease;
}

.side-menu.show li {
  transform: translateX(0);
}
.side-menu li a:hover {
  color: #6a6a6a;
}

.side-menu .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 18px;
  color: #000;
  background: transparent;
  border: none;
  cursor: pointer;
}
/* Styles for dropdown menu */
.dropdown-menu {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 1;
  display: none;
  transition: display 0.3s ease-out;
  
}
.dropdown.show > .dropdown-menu {
  display: contents;
  
}

/* Styles for dropdown arrow icon */
.dropdown > a i {
  margin-left: 0.25em;
  transition: transform 0.3s ease-in-out;
}
.dropdown.show > a i {
  transform: rotate(180deg);
}

@media screen and (max-width: 900px) {
  .menu-icon {
    display:inline-block;
  }
  
 
.navbar-links li a:hover {
  color: #6A6A6A;
   transform: scaleX(1.2);
}

.navbar-links li a:hover::after {
  transform: scaleX(1); /* animate the underline to full width */
}

@media (max-width: 900px) {
  .navbar-links {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle.active span:nth-of-type(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .navbar-toggle.active span:nth-of-type(2) {
    opacity: 0;
  }

  .navbar-toggle.active span:nth-of-type(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .navbar-toggle:hover span {
    background-color: #ccc;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .navbar-links.active li {
    margin: 10px 0;
  }
}
  }

footer {
    display: flex;
      border-top: 1px solid white;
    height:85px;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  
  
  .footer-right {
    flex: 0 0 auto;
  }
  



:root{
  --fs-h1: clamp(14px ,3vw, 1.7rem);
  --fs-h2: clamp(8px ,2.25vw, 1em);
  --fs-p: clamp(8px, 2vw, 1.15rem);
 
}



.head{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
margin-bottom: 5em;
font-size: var(--fs-h1) ;
}


.show1{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  
}

.designProces{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-h1);
  height: auto;
  background-color: #FFF;
  border-radius: 20px;
  width: 65vw;
  height: fit-content;
  margin: 0 auto;
  font-family: myFirstFont;
  src: url(https://rightfontapp.com/family/kaisei+decol);
  font-weight: 100;
}
.designProces img{
  width: 60vw;
  height: auto;
  grid-column:span 12;
  margin-top: -5rem;
}



.designProcess{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 100px;
  gap: 15px;
  font-size: var(--fs-h1);
  height: auto;
  background-color: #FFF;
  border-radius: 20px;
  margin: 2rem auto;

  font-family: myFirstFont;
  src: url(https://rightfontapp.com/family/kaisei+decol);
  font-weight: 100;
  
}
.designProcess img{
  width: 60vw;
  height: auto;
  grid-column:span 12;

}

.designProcess h2{
  line-height: 1.6;
  font-weight: 300;

}

.designProcess h1{
  line-height: 1.6;
  font-weight: 500;
  word-spacing: 30px;
  color: #6E6E6E;
}

.left p{
  font-size: clamp(1.5rem, 3vw, 1.5rem);
  line-height: 1.6;

}

.comp{
  width: 60vw;
  margin: 0 auto;
}
.comp h1{
  font-size: 2rem;
  color: #ED7D31;
}

.comp h2{
  font-size: 1.5rem;
  color: white;
}

.designImg{
  background-image: url(./Images/design\ process.svg);
}

.value{
  font-size: var(--fs-p);
}
#grid-parent {
  border: var(--ln);
  width: 70vw;
  min-height: 660px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
}



.left{
  grid-column: span 7;
    display: flex;
  flex-direction: column;
  gap: 2.5rem;
  font-size: 2rem;
  height: fit-content;
}
.right {
  grid-column: span 4;
    display: flex;
  flex-direction: column;
  gap: 2.5rem;
  font-size: var(--fs-p);
}





@media screen and (max-width: 1600px) {
  #grid-parent > .left, #grid-parent > .right {
    grid-column: span 6;
    padding-bottom: 5rem;
    
  }
  
.left{
  grid-column: span 6 ;
  margin-right: 2rem;
  padding: 28px;
}

  #grid-parent > .left {
    padding-right: 2rem !important;
  }
}
@media screen and (max-width: 960px) {
  #grid-parent > .left, #grid-parent > .right {
    grid-column: span 12;
    padding-bottom: 5rem;
    
  }
  .designProcess{
    padding: 8px;
  }

  #grid-parent > .left {
    padding-right: 0 !important;
  }
}

#grid-parent > .left {
  border-right: var(--ln);
  padding-right: 5rem;
}

#grid-parent > .right > .item {
    border: var(--ln);
  display: flex;
}

@media screen and (max-width: 460px) {
  #grid-parent > .right > .item {
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }
.designProcess{
  padding: 16px;

}
}

#grid-parent > .right > .item > .key {
  min-width: 144px;
}

h2{
  font-size: 2rem;
  line-height: 1.6;

}

.background{
  background-color: #023047;
  padding: 2rem;
}



#content {
  border: var(--ln);
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding: 0px;
  background-color: #FFF;
  border-radius: 20px;
  margin: 2rem auto;
}

.persona div{
  margin: 2rem auto;
  width: 80vw;
}
.persona img{
  width: 80vw;
}

.text{
  grid-column: span 6;
    display: flex;
    align-items: center;
  flex-direction: column;
  gap: 6rem;
  font-size: var(--fs-p);
  height: fit-content;
  padding: 5rem;
  font-family: myFirstFont;
  src: url(https://rightfontapp.com/family/kaisei+decol);
}

  .hifi{
    color: #ED7D31;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 70vw;
    font-size: clamp(1.2rem,7vw,5rem);
    font-weight: bolder;
    flex-direction: column;
    align-items: center;
  }

  .hifi img{
    width: 55vw;
  }


.text p{
  line-height: 2;
  font-size: var(--fs-p);

}
.text h2{
  font-weight: 300;
  font-size: clamp(1rem,3vw,1.75rem);
  font-family: myFirstFont;
  src: url(https://rightfontapp.com/family/kaisei+decol);
  margin-left: 3rem;
  
}

.text h1{

  font-size: clamp(1.25rem,3.5vw,2rem);
  font-family: myFirstFont;
  src: url(https://rightfontapp.com/family/kaisei+decol);
}
.image {
  grid-column: span 6;
    display: flex;
  flex-direction: row;
  padding-top: 2REM;
  gap: 2.5rem;
  font-size: var(--fs-p);
  margin: 0 1REM;
  padding: 2rem;
}


.inspi{
  background-image: url(./Images/inspiration.png);
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
margin: 2rem auto;
width: 85vw;
}

.line{
  width: 70vw;
  margin: 0 auto;
  border: clamp(2px,2vw,0.5rem) solid white;
  border-radius: 20px;
  display: flex;
}


@media screen and (max-width: 1600px) {
  #content > .text, #content > .image {
    grid-column: span 6;
    
  }
  #content{
    width: 85vw;
  }
.text{
  grid-column: span 6 ;
  margin-right: 2rem;
  padding: 28px;
}

  #content > .text {
    padding-right: 2rem !important;
  }
}
@media screen and (max-width: 960px) {
  #content > .text, #content > .image {
    grid-column: span 12;
    padding-bottom: 1rem;
    
  }

  .inspi{
    width: 90vw;
    margin: 2rem auto;
  }
 
.text{
  grid-column: span 12;
}
  #content > .text {
    padding-right: 0 !important;
  }
}

#content > .text {
  border-right: var(--ln);
  padding-right: 5rem;
}

#content > .image > .item {
    border: var(--ln);
  display: flex;
}

@media screen and (max-width: 460px) {
  #content > .image > .item {
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }

}

.problem{
  flex-direction: column;
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
  font-family: myFirstFont;
  src: url(https://rightfontapp.com/family/kaisei+decol);
  font-size: var(--fs-h1);
  color: #FFF;
}

.problem {
  font-weight: 300;
  height: auto;
}

.steps{
  display: flex;
  flex-direction: column;

}
.steps p{
  font-family: myFirstFont;
  src: url(https://rightfontapp.com/family/kaisei+decol);
  font-size: var(--fs-p);
}

.steps h2{
  font-family: myFirstFont;
  src: url(https://rightfontapp.com/family/kaisei+decol);
}

.text1{
  padding: 3rem;
  line-height: 3;
  font-family: myFirstFont;
  src: url(https://rightfontapp.com/family/kaisei+decol);
  font-size: 2rem;
}

#minus-top{
  margin-top: -3rem;
}

.links{
  display: flex;

  flex-direction: row;
  gap: 30vw;
  padding-top: -5rem;
}